<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title th:text="#{balance.title}">Balance</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/" th:text="#{nav.home}">Home</a></li>

                <li><a href="/order" th:text="#{nav.order}">Order</a></li>
                <li class="active"><a href="/addMoney" th:text="#{nav.balance}">Balance</a></li>
                <li><a href="/user_confirm" th:text="#{nav.odering}">Odering</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form method="post" th:action="@{/logout}">
                        <button class="btn btn-link navbar-btn navbar-link" th:text="#{nav.logout}" type="submit">
                            Log off
                        </button>
                    </form>
                </li>
                <li id="language">
                    <th:block th:include="/localeR"/>
                </li>
            </ul>
        </div>
    </nav>

    <form method="post" th:action="@{/addBalance}" th:object="${balanceDto}" class="balance__form">

        <h3 th:text="#{balance.notEnoughMoney}" th:unless="${isEnough}==null"></h3>
        <text th:if="${moneyBalance}==null"></text>
        <h1 th:text="#{menu.balance}+' '+${moneyBalance}" th:unless="${moneyBalance}==null"></h1>

        <div class="form-group">
            <label th:for="moneyToAdd" th:text="#{balance.sumToAdd}">Sum to add</label>
            <input class="form-control" th:field="*{moneyToAdd}">
            <span class="error" th:errors="*{moneyToAdd}"></span>
        </div>

        <button class="btn btn-success enter balance__form__button"
                th:text="#{balance.add}"
                type="submit" value="Sign In">
            add money
        </button>
    </form>


</div>
</body>
</html>
